@page "/vybaveni/{Id:guid}"
@inject HttpClient Http
@using Ppt23.Shared

<h3>VybaveniDetail @Id</h3>

<div class="grid grid-cols-2">
    <div>Id: @vybaveni?.Id</div>
    <div>Název: @vybaveni?.Name</div>
    <div>Cena: @vybaveni?.Price</div>
    <div>Datum nákupu: @vybaveni?.BoughtDateTime</div>
    <div>Poslední revize: @vybaveni?.LastRevisionDateTime</div>
</div>


@code{

    [Parameter] public Guid Id { get; set; }
    VybaveniVm? vybaveni;

    protected override async Task OnInitializedAsync()
    {
        var vyb = await Http.GetFromJsonAsync<VybaveniVm>($"vybaveni/{Id}");
    }
    
}